@use "sass:color";
@use 'src/app/styles/theme.scss';


.StickerSet {
  .Head {
    width: 100%;
    height: 67px;
    padding-top: 0.5rem;
    // padding-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;

    // line-height: 1.6875rem;
  }

  .buttons {
    height: 67px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .label {
    overflow: hidden;

    .name {
      font-size: 1rem;
      font-weight: 500;
      color: theme.$text_color;

      overflow: visible;
      white-space: nowrap;
    }

    .description {
      font-size: 1rem;
      color: theme.$hint_color;
      margin-bottom: 8px;

      height: 1.5rem;

      white-space: nowrap;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.Main::-webkit-scrollbar {
  display: none !important;
}

@keyframes gradient {
    0%{background-position:66% 0%}
    50%{background-position:35% 100%}
    100%{background-position:66% 0%}
}

.Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &:first-child {
    display: flex;
    flex-direction: row;
  }

  box-sizing: border-box;

  padding: 0.5rem 0px 1rem 0px;

  overflow: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }

  &.android {
    overflow: scroll;
  }

  .sticker {
    max-height: 60px;
    margin-right: 1rem;

    width: fit-content;

    border-radius: 0.5rem;
    background-size: 500% 500%;

    background: linear-gradient(
      45deg,
      var(--tg-theme-hint-button-hsl-color) 20%,
      theme.$hint_color_20 40%,
      var(--tg-theme-hint-button-hsl-color) 60%,
    );

    & div {
      border-radius: 0.5rem;

      &.loaded {
        background-color: var(--tg-theme-secondary-bg-color);
      }
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.button {
  font-weight: 600;
  font-size: 0.75rem;

  border-radius: 1rem;

  padding: .5rem 1.25rem;

  background-color: theme.$button_color;

  transition: all 0.2s ease-in-out;

  color: theme.$text_color;

  img {
    display: inline;
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
    vertical-align: middle;
  }

  &.add {
    user-select: none;
    color: theme.$button_text_color;
    -webkit-tap-highlight-color: rgba(66, 193, 31, 0);

    &:active {
      transition-duration: all 0.3s ease-in;

      background-color: theme.$bg_color;
    }
  }

  &.like {
    font-size: 0.8rem;
    padding: 0.5em 1em;
    line-height: 1.2rem;

    margin-right: .5rem;

    background-color: var(--tg-theme-hint-button-hsl-color);

    user-select: none;

    &:active {
      background-color: rgba(theme.$bg_color, 0.5);
    }
  }
}

.Likes {
  display: flex;
  justify-content: space-between;

  width: fit-content;

  padding-top: 0.25rem;
  padding-bottom: .25rem;

  transition-duration: 50ms;

  .myReaction {
    background-color: theme.$button_color;
    color: theme.$button_text_color;
  }
}

.animated {
  border-radius: 1rem;
  color:rgba(66, 193, 31, 0) !important;
  background-size: 400% 400% !important;

  background: linear-gradient(
    45deg,
    var(--tg-theme-hint-button-hsl-color) 20%,
    theme.$hint_color_20 40%,
    var(--tg-theme-hint-button-hsl-color) 60%,
  );

  animation: gradient 1.75s ease-in-out 0s infinite reverse running;
}
