node_modules
npm-debug.log

# .env files are needed for dotenv
.env.example
.env.production

*.log
logs

.git
.gitignore

.vscode
.idea

.DS_Store
Thumbs.db

# firebase-adminsdk.json
whitelist.json

docker-compose*.yml
Dockerfile

ecosystem.config.js

*.md

data/
dump/
