node_modules
npm-debug.log

.env
.env.*
!.env.example

*.log
logs

.git
.gitignore

.vscode
.idea

.DS_Store
Thumbs.db

firebase-adminsdk.json
whitelist.json

docker-compose*.yml
Dockerfile

ecosystem.config.js

*.md
